body {
    margin: 0;
    padding: 0;
    background-color: #1abc9c;
    font-family: sans-serif;   
}
.t3d {
    width: 350px;
    height: 420px;
    margin: 50px auto;
    background-color: #1abc9c;
    perspective: 1000px;
}
.t3d:hover .rotate{
    transform: rotateY(180deg);
}
.rotate {
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.img {
    width: 350px;
    height: 420px;
    background-color: #fff;
}
.img-head {
    width: 350px;
    height: 200px;
    background-color: #34495e;
}
.text {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}
.text-head {
    width: 350px;
    height: 40px;
    border-bottom: 1px dashed #95a5a6;
}
.text-body {
    width: 350px;
    height: 310px;
    border-bottom: 1px dashed #95a5a6;
}
.text-footer {
    width: 350px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    width: 318px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-eye {
    width: 55px;
    height: 40px;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    background-color: #ecf0f1;
    transition: 0.4s
}
.btn-eye:hover {
    border: 1px solid #828282;
    cursor: pointer;
}
.btn-online {
    text-decoration: none;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 243px;
    height: 40px;
    background-color: #ecf0f1;
    border: 1px solid #BDBDBD;
    color: #333333;
    border-radius: 3px;
    transition: 0.4s;
}
.btn-online:hover {
    border: 1px solid #828282;
}
.img,
.text {
    border-radius: 5px;
    width: 350px;
    height: 420px;
    backface-visibility: hidden;
}
.pd {
    padding: 20px;
}