body {
    margin: 0;
    padding: 0;
    background-color: #1abc9c;
    font-family: sans-serif;   
}
.t3d {
    width: 300px;
    height: 400px;
    margin: 50px auto;
    background-color: #1abc9c;
    perspective: 1000px;
}
.t3d:hover .rotate{
    transform: rotateY(180deg);
}
.rotate {
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.img {
    width: 300px;
    height: 400px;
    background-color: #fff;
}
.img-head {
    width: 300px;
    height: 200px;
    background-color: #000000;
}
.text {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}
.img,
.text {
    border: 2px solid #000000;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    backface-visibility: hidden;
}
.pd {
    padding: 20px;
}